/* MAIN */
.div-alert{
    margin-top: 60px;
}

/* NAV */
.navbar-brand{
    padding-top: 0;
}

.navbar-brand img{
    width: 650px;
}

/* LOGIN */

.box-login{
    margin: 70px auto;
    width: 400px;
}

.box-login h1{
    font-weight: bold;
    text-shadow: 2px 1px 2px grey;
    letter-spacing: -2.5px;
    margin-top: 0;
}

.box-login small{
    font-weight: bold;
    color: #999;
}

.box-login form{
    background-color: cadetblue;
    padding: 25px;
    color: #FFF;
    border-radius: 5px;
}
.box-login a{
    color: aliceblue;
}

.box-login .label-beta{
    margin-left: 85%;
}