{% extends 'layout.html.twig' %}

{% block content %}
    <div class="admin-panel text-center">
        <div class="container col-lg-4"></div>
        <div class="container col-lg-4 card-principal">
            <h2>Cambiar contrase単a</h2>
            <hr />
            <form method="post" action="{{ path('confirmar_pass', {'id': usuario.id}) }}" name="confirmar">
                <label for="passAntigua">Contrase単a antigua</label>
                <input type="password" id="passAntigua" class="form-control" name="passAntigua"/>
                <label for="passNueva">Contrase単a nueva</label>
                <input type="password" id="passNueva" class="form-control" name="passNueva"/>
                <label for="rePassNueva">Repite contrase単a nueva</label>
                <input type="password" id="rePassNueva" class="form-control" name="rePassNueva"/>
                <div class="col-lg-12 card-footer">
                    <a href="{{ path('perfil') }}" class="btn btn-info">
                        <i class="fa fa-arrow-left"></i>
                        Volver
                    </a>
                    <button type="submit" name="cambiar" class="btn btn-success">
                        <i class="fa fa-check"></i>
                        Cambiar
                    </button>
                </div>


            </form>
        </div>
    </div>

{% endblock %}